<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Application name</h1>
    <h1>Home</h1>
    <h1>About</h1>
    <h1>Contact</h1>
    <h1>Register</h1>
    <h1>Login</h1>

    <p>This is the home page of our application.</p>
</body>
</html>
